
       body{
        background-color: rgb(25, 11, 49);
    }
     
       #container{
           display: inline-block;
           position:absolute;
           
       }
     #logo_first{
        display: inline-block;
           position:absolute;
          color: aliceblue;
         left: 3.4rem;
     }
     #logo_second{
        display: inline-block;
           position:absolute;
           top:1.5rem;
           left:3.4rem;
           color: aliceblue;
     }
     #fav{
         display: inline-block;
         position: absolute;
         left:17rem;
         top:1rem;
         color: aliceblue;
        }
        #search {
            display: flex;
            align-items: center;
            position: absolute;
            right: 2rem;
            background-color: #333; /* Background color */
            border-radius: 25px; /* Rounded corners */
            padding: 5px 10px; /* Adjust padding as needed */
        }
        
        #search input[type="text"] {
            border: none;
            outline: none;
            background: transparent;
            color: #fff; /* Text color */
            font-size: 16px;
            width: 150px; /* Adjust width as needed */
        }
        
        #search .fas {
            color: #fff; /* Icon color */
            margin: 0 5px;
            cursor: pointer;
        }
        
        #searchbutton {
            font-size: 16px;
        }
        
        #microphone {
            cursor: pointer;
        }
        
        
        
        /* Optional: Add transition for smoother hover effect */
        #search .fas {
            transition: opacity 0.3s;
        }
        
        input {
            line-height:17x;
        }
       divv{
        border:2px solid grey;
        height:1rem;   
        }
        
    #microphone{
        margin-left:-11px;
    }
    #bell{
        display: inline-block;
         position: absolute;
         left:74rem;
         color: aliceblue;
    }
    #photo{
        display: inline-block;
         position: absolute;
         left:76rem;
         top:-1px;
        
    }
    #phot{
        border-radius:50%;
    }
    #container-albums-cover{
        display: inline-block;
        position: relative;
        top:-15rem;
        left:2rem;
       
    }
    #alan{
        display: inline-block;
        transition: all 1s;
        
    }
    #alan:hover{
        transform: scale(1.2);
    }
    #concert{
        display: inline-block;
        transition: all 1s;
    }
    #concert:hover{
        transform: scale(1.2);
    }
    #hall{
        display: inline-block;
        transition: all 1s;
    }
    #hall:hover{
        transform: scale(1.2);
    }
    #latestrelease{
        margin-top: -8rem;
    }
    #textlatestrelease{
        margin-top: -7rem;
        position: relative;
    top: -7rem;
    color: aliceblue;
    }
    #newrealease{
        display: inline-block;
        position: relative;
        top:-20px;
        left:3px;
color: aliceblue;
    }
    #newrealease2{
        display: inline-block;
        position: relative;
        top:-6px;
        left:-46px;
        font-size: small;
        color: aliceblue;

    }
    #outer1{
        display:inline-block;
        border:1px solid grey;
        width:18rem;
    }
    #outer2{
display: inline-block;
border:1px solid grey;
width:18rem;
    }
    #outer3{
        display:inline-block;
        border:1px solid grey;
width:18rem;
    }
    #outer4{
        display:inline-block;
        border:1px solid grey;
width:18rem;

    }
    .f-ellipse{
        display:inline-block;
        position:relative;
        top:-8px;
        left:6rem;
        color: aliceblue;
    }
    dots{
        transition: all 1s;
        color: aliceblue;
    }
    dots:hover{
       box-shadow: 0px 0px 12px 2px grey;
       border-radius: 50%;
    }
    .hiddenpoints{
        overflow: hidden;
       height:0px;
       width:0px;
       position:absolute;
       top:0px;
       left:0px;
    
    }
    .hiddenpoints:target{
        overflow: visible;
        height: 90px;
        width:70px;
        border:1px solid grey;
        background-color: aqua;
  top:390px;
  left:190px;
  
    }
    
    .hiddenpoints2{
        overflow: hidden;
       height:0px;
       width:0px;
       position:absolute;
       top:0px;
       left:0px;
    
    }
    .hiddenpoints2:target{
        overflow: visible;
        height: 100px;
        width:70px;
        border:1px solid grey;
        background-color: aqua;
  top:400px;
  left:480px;
  
    }
  
    .hiddenpoints3{
        overflow: hidden;
       height:0px;
       width:0px;
       position:absolute;
       top:0px;
       left:0px;
    
    }
    .hiddenpoints3:target{
        overflow: visible;
        height: 90px;
        width:70px;
        border:1px solid grey;
        background-color: aqua;
  top:450px;
  left:190px;
  
    }
    
    .hiddenpoints4{
        overflow: hidden;
       height:0px;
       width:0px;
       position: absolute;
       top:0px;
       left:0px;
    
    }
    .hiddenpoints4:target{
        overflow: visible;
        height: 90px;
        width:70px;
        border:1px solid grey;
        background-color: aqua;
       
  top:470px;
  left:500px;
  
    }
    #popularartist_container{
        display:inline-block;
      
    }
    .popular_artist_images{
        display: inline-block;
    }
    .popular_artist_imageborderr{
        border-radius: 50%;
    }
    .name_of_popular_artist{
       color: aliceblue;
    }
    

  #widthhwise{
      height:110px;
      width:40%;
      border-left: 4px solid grey;
      background-image: linear-gradient(to right,blue, rgb(25, 11, 49));
  }
  #stations{
      position: relative;
      top:9px;
      left:6px;
      display: inline;
  }
  .music_station_image{
      opacity:0.5;
      border-radius: 50%;
      
  }
  .text_image_music_station{
      position: relative;
      left:3.3rem;
      top:-3rem;
color: aliceblue;
  }
  #loveimage{
    display: inline;
    position: relative;
      top:9px;
      left:39px;
    
  }
  
  #text_love{
      position: relative;
      left:10.5rem;
      top:-3rem;
color: aliceblue;
  }
  #radioimage{
    display: inline;
    position:relative;
    top:-5.8rem;
    left:15rem;
    
  }
  
  
  
  #chillimage{
    display: inline;
    position:relative;
    top:-12.2rem;
    left:21rem;
    
  }
 
 
  #workoutimage{
    display: inline;
    position:relative;
    top:-18.5rem;
    left:27rem;
    
  }
 
  
  #rockimage{
    display: inline;
    position:relative;
    top:-24.9rem;
    left:33rem;
    
  }
  
  

  #popimage{
    display: inline;
    position:relative;
    top:-31rem;
    left:39rem;
    
  }
 
  #text_pop{
      position: relative;
      left:3.9rem;
      top:-3rem;
      color:aliceblue

  }
  #next_of_musicstation{
      margin-top: 9px;
  }
  .allof_next_of_musicstation{
    display: inline;
      position: absolute;
      top:56rem;
      font-size: 40px;
      color: aliceblue;
  }
  #textparty{
     
      left:5rem;
     
  }
  #textelectronics{
    left:19rem;
  }
  #textroadtrip{
    left:36rem;
  }
  .full_latestenglish{
    display: inline-block;
      margin-left:1rem;
  }
  .full_latesthindi{
    display: inline-block;
      margin-left:1rem;
  }
  .caption_latest_english{
      color:aliceblue;
  }
  .caption_latest_hindi{
      color:aliceblue;
  }
  
  .bijlisong{
     visibility: hidden;
      position: absolute;
      height: 6.3rem;
      width:65rem;
      top:0px;
      left:0px;
      
  }
  .bijlisong:target{
   visibility: visible;
     
     top:86rem;
      left:8px;
      background-color: rgb(93, 140, 182);
  
  }
  .alansong{
     visibility: hidden;
      position: absolute;
      height: 6.3rem;
      width:65rem;
      top:0px;
      left:0px;
      
  }
  .alansong:target{
   visibility: visible;
     
     top:86rem;
      left:8px;
      background-color: rgb(93, 140, 182);
  
  }
  #closeit{
      margin-top:-6.4rem;
      margin-left: 63.3rem;
      background-color: rgb(236, 235, 243);
      height:1.7rem;
      width:1.7rem;
      
  }
  #lastaudio{
    position: relative;
    top:0rem;
    left:7rem;
  }
  #audioo{
      width:498px;
      
  }
  /* For Queue*/
  #queuecontainer{
       height:30rem;
       width:20rem;
       background-color: rgb(36, 14, 77);
       overflow: initial;
       overflow-x: hidden;
     
       display: inline-block;
       margin-top: 2rem;
       margin-left: 4rem;
   }
    #quue{
        display: inline-block;
        position:absolute;
        font-size: xx-large;
        margin-top:-2rem;
        top:6.3rem;
        left:53rem;
    color: aliceblue;
    }
    #imageallfirst{
     margin-top:37px;
     margin-left: 1rem;
    }
    #imageallsecond{
     margin-top: -1.2rem;
     margin-left: 1rem;
    }
    #imageallthird{
     margin-top: -1rem;
     margin-left: 1rem;
    }
    #imageallfourth{
     margin-top: -1rem;
     margin-left: 1rem;
    }
    #imageallfifth{
     margin-top: 0rem;
     margin-left: 1rem;
    }
    #imageallsixth{
     margin-top: -0.2rem;
     margin-left: 1rem;
    }
    #imageallseventh{
     margin-top: -0.2rem;
     margin-left: 1rem;
    }

   
    .firstnum{
        position: relative;
        top:-1rem;
        color: aliceblue;
    }
    .firsttext{
        position: relative;
        top:-1.3rem;
        color: aliceblue;
    }
    .hearticon{
        position: relative;
        top:-2rem;
left:7rem;
color: aliceblue;
    }
   /*close Queue*/
  
   @media only screen and (max-width: 1179px){
        #alan{
            margin-top: 15rem;
        }
        #queuecontainer{
            margin-top: -13rem;
    
    margin-left: 5rem;
        }
        .allof_next_of_musicstation{
            top:89rem;
        }
        #latestrelease{
            margin-top:7rem;
        }
        #textlatestrelease{
            top:9rem;
        }
    }